@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root{
  --primary-color:#000;
  --secondry-color:red;
}

h1, h2, h3, h4,h5, h6{
  font-family: "Roboto Mono", serif;
}

p{
  font-family: "Montserrat", serif;
}
a{
  text-decoration: none !important;
}
.thoughtsContent{
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
}
.thoughtsContent h3{
  margin-top: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #000;
}
.thoughtsContent p{
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}
.thoughtsContent_img{
  height: 400px;
  width: 100%;
}
.thoughtsContent_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}